.login-form {
    background-color: #fff; /* White background for forms */
    border-radius: 8px; /* Rounded corners */
   
    padding: 20px;
    margin: 10px;
    max-width: 400px; /* Fixed width */
}

.register-form {
    
}

.login-input {
    margin: 10px 0; /* Increased margin for better spacing */
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 4px; /* Slightly rounded input fields */
    box-sizing: border-box; /* Include padding and border in element's total width */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.login-input:focus {
    border-color: #007BFF; /* Blue border on focus */
    outline: none; /* Remove default outline */
}

.login-btn {
    padding: 10px;
    background-color: #007BFF; /* Primary button color */
    color: white; /* Text color for button */
    border: none; /* No border */
    border-radius: 4px; /* Rounded button */
    cursor: pointer; /* Pointer cursor on hover */
    width: 100%; /* Full width button */
    font-weight: bold; /* Bold text for button */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.login-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.bottom-text {
    padding-top: 20px;
}

/* Full-page iframe styles */
#fullPageIframe {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 1000; /* Bring iframe on top */
}

/* Style for the close button */
#closeIframeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1001; /* Ensure button appears above iframe */
    border-radius: 4px; /* Rounded corners */
}


#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Overlay behind the popup */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* New close button for the popup */
#closePopup {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
    border-radius: 4px;
}